* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url(chatimg.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font: 13px Helvetica, Arial;
  color: #e8c200;
  font-size: 70%;
  margin: 5px;
  text-align: center;
  -webkit-text-stroke: thin;
}
form {
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0px;
  background: #d3d3d3;
  padding: 10px;
  opacity: 0.5;
}
form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}
form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
p{
  font-size: 16px;
  padding: 10px;
}
.gif-wrapper {
  width: 250px;
  height: 200px;
}
.stronger-sugest {
  font-weight: bolder;
}
.sugestion-box {
  width: 20%;
  background-color: #ffffff;
  margin-bottom: 5px;
}
.sugestion-box > p {
  color: black;
  padding: 5px;
}
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
.you{
  float: right;
  margin-left: auto;
}
.notyou{
  float: left;
}
.clearfix:before,
.clearfix:after {
   content: " ";
   /* 1 */
   display: table;
   /* 2 */
}
.clearfix:after {
   clear: both;
}
